<div class="container-fluid">
	<meta charset="utf-8">
	<style>
		.bar {
			fill: steelblue;
		}	
		.bar:hover {
			fill: brown;
		}	
		.axis text {
			font: 10px sans-serif;
			fill: black;
		}
		
		.axis path,
		.axis line {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
		}
	</style>	
	<body>
	
		<h2>Test1</h2>
		 <form novalidate class="simple-form">
		 	Graph File: <input type="text" ng-model="url"/>
		 	<button ng-click="update(url)">Update</button>
		 <form>
		<svg class="graphPlaceholder"></svg>	
	</body>
</div>